<div class="container">
  <div class="row">
    <% @petitions.each do |petition| %>
      <div class="col-sm-6 col-md-4 text-center">
        <div class="thumbnail">
        <%= link_to (image_tag petition.image.url(:medium), class: 'image'), petition %>
        <%= petition.title %>
        </div>
      </div>
    <%end%>
  </div>
</div>
